* {
	box-sizing: border-box;
  }

head {
	background-color: rgb(40, 10, 80);
}

body {
	/*margin: 0px 10%;*/
	background-color: rgb(255, 255, 255);
}

.heading {
	text-align: center;
	margin: auto;
}

.column {
	float: left;
	width: 50%;
	padding: 10px;
	margin: auto;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.spacer {
	width: 100%;
	padding: auto;
	margin: 100px;
}

.section-container {
	width: 90%;
	margin: auto;
}

.cards-container {
	width: 100%;
	display: grid;
	margin-top: var(--dl-space-space-twounits);
	grid-template-columns: 1fr 1fr 1fr;
  }

h1 {
	font-size:5vw;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(255, 120, 218);
	text-shadow: 1px 1px 2px rgb(158, 0, 116);
}

h2 {
	font-size:3vw;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(61, 20, 114);
	text-shadow: 1px 1px 2px rgb(40, 10, 80);
}

h3 {
	font-size: 3vw;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(61, 20, 114);
	text-shadow: 1px 1px 2px rgb(40, 10, 80);
}

img {
	width: 80%;
	height: auto;
}

.CenterLink {
	margin: auto;
	text-align: center;
}

a:link, a:visited {
	text-decoration: none;
	background-color: rgb(255, 120, 218);
	color: white;
	font-size: 2vw;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	width: 80%;
	height: auto;
	padding: 8px 8px;
	display: inline-block;
	margin: 5%;
	border-radius: 5px;
	box-shadow: 2px 2px 5px black;
}

a:hover {
	background-color: rgb(253, 156, 227);
	box-shadow: 1px 1px 2px black;
}

a:active {
	box-shadow: none;
}